.rata-thumb-actions {
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  transition: background .25s;
}

.rata-thumb-actions:hover {
  background: rgba(255, 255, 255, 0.6);
  transition: background .25s;
}

.rata-thumb-actions > .original-thumb {
  background-color: transparent;
}

.rata-thumb-actions > .rotate-left {
  flex-grow: 1;
  background-color: transparent;
  border: none;

}

.rata-thumb-actions > .rotate-right {
  flex-grow: 1;
  background-color: transparent;
  border: none;

}

